.modalaround {
  display: flex;
  align-items: center;
  justify-content: center;
}
.signintxt {
  padding-top: 50px;
}
.modal {
  width: 70%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.8);
}

.modal {
  height: 600px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  border-radius: 2px;
  position: relative;
  padding: 10px;

  animation-name: grow-modal;
  animation-duration: 0.4s;
  animation-timing-function: ease-in-out;
}
@keyframes grow-modal {
  0% {
    opacity: 0.2;
  }
  25% {
    opacity: 0.4;
  }
  50% {
    opacity: 0.6;
  }
  75% {
    opacity: 0.8;
  }
  100% {
    width: 60%;
    height: 600px;
    opacity: 0.9;
  }
}

h4 {
  text-align: center;
  color: #444;
  font-size: 1.5rem;
}

.modal-btns {
  display: flex;
  justify-content: center;
}

.signIn {
  width: 100%;
  display: flex;
  flex-direction: row;
}
.signuser {
  width: 50%;
  flex: 0.5;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.signdoctor {
  width: 50%;
  flex: 0.5;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.signuserbtn {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: gray;
  border-radius: 10px;
  padding-bottom: 2px;
}

.outer {
  position: relative;
  margin: 0 50px;
  background: #111;
}
.button {
  height: 60px;
  width: 220px;
  border-radius: 50px;
  transition: ease all 1s;
  box-shadow: 0px 0px 12px 18px #ededed;
}
.circle {
  height: 200px;
  width: 200px;
  border-radius: 50%;
}
.outer button,
.outer span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: ease all 0.5s;
}
.outer button {
  background: #111;
  color: #f2f2f2;
  outline: none;
  border: none;
  font-size: 20px;
  z-index: 9;
  letter-spacing: 1px;
  text-transform: uppercase;
  cursor: pointer;
  transition: ease all 0.5s;
}
.button button {
  height: 50px;
  width: 210px;
  border-radius: 50px;
}
.circle button {
  height: 180px;
  width: 180px;
  border-radius: 50%;
}
.outer span {
  height: 100%;
  width: 100%;
  background: inherit;
}
.button span {
  border-radius: 50px;
}
.circle span {
  border-radius: 50%;
}
.outer:hover span:nth-child(1) {
  filter: blur(7px);
}
.outer:hover span:nth-child(2) {
  filter: blur(14px);
}
.outer:hover {
  background: linear-gradient(#14ffe9, #ffeb3b, #ff00e0);
  animation: rotate 1.5s linear infinite;
}
@keyframes rotate {
  0% {
    filter: hue-rotate(0deg);
  }
  100% {
    filter: hue-rotate(360deg);
  }
}
@media (max-width: 640px) {
  .center {
    flex-wrap: wrap;
    flex-direction: column;
  }
  .outer {
    margin: 50px 0;
  }
}

.modalClose {
  background-color: black;
  box-shadow: 0px 0px 12px 18px #ededed;
}

.modalClose:hover {
  background: #42bd45;
  transition: ease all 0.3s;
}

.signuserillust {
  width: 300px;
}

.signdoctorillust {
  width: 350px;
}
